{% extends 'indexFront.html.twig' %}

{% block box1 %}
        <div class="col-md-12">
            <div class="col-md-12">
                Bonjour {{ job.firstname }}

            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <div class="w3ls-title">
                        <h3 class="agileits-title">My Projects</h3>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Projectname</th>
                            <th>Activityarea</th>
                            <th>Projectdescription</th>
                            <th>Startdate</th>
                            <th>Enddate</th>
                            <th>Payment</th>
                            <th>Experiencelevel</th>
                            <th>Requiredskills</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.projectName }}</td>
                                <td>{{ project.activityarea }}</td>
                                <td>{{ project.projectdescription }}</td>
                                <td>{% if project.startdate %}{{ project.startdate|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if project.enddate %}{{ project.enddate|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ project.payment }}</td>
                                <td>{{ project.experiencelevel }}</td>
                                <td>{{ project.requiredskills }}</td>
                                <td>
                                    <ul>

                                            <a class="btn btn-default" href="{{ path('projects_show', { 'id': project.id }) }}"> show</a>


                                            <a class="btn btn-default"  href="{{ path('projects_edit', { 'id': project.id }) }}"> edit</a>

                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

    </div>


{% endblock box1 %}

{% block box2 %}
    <div class="col-md-12">
        <div class="table-responsive">
            <div class="w3ls-title">
                <h3 class="agileits-title">Freelancers</h3>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Skills</th>
                    <th>Disponible</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for freelancer in frees %}
                    <tr>
                        <td>{{ freelancer.skills }}</td>
                        <td>{{ freelancer.disponible }}</td>
                        <td>{{ freelancer.firstname }}</td>
                        <td>{{ freelancer.lastname }}</td>
                        <td>{{ freelancer.address }}</td>
                        <td>{{ freelancer.mobile }}</td>
                        <td>{{ freelancer.user.email }}</td>
                        <td>
                            <ul>
                                <a class="btn btn-default" href="{{ path('freelancer_show', { 'id': freelancer.id }) }}" >show</a>

                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock box2 %}