{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jobowners list</h1>

    <table>
        <thead>
            <tr>

                <th>Activity Area</th>
                <th>Social reason</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Email</th>


                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jobowner in jobowners %}
            <tr>
               <!-- <td><a href="{{ path('jobowner_show', { 'id': jobowner.id }) }}">{{ jobowner.id }}</a></td>-->
                <td>{{ jobowner.activitySector }}</td>
                <td>{{ jobowner.socialRaison }}</td>
                <td>{{ jobowner.firstname }}</td>
                <td>{{ jobowner.lastname }}</td>
                <td>{{ jobowner.address }}</td>
                <td>{{ jobowner.mobile }}</td>
                <td>{{ jobowner.user.email }}</td>



                <td>
                    <ul>
                        <li>
                            <a href="{{ path('jobowner_show', { 'id': jobowner.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('jobowner_edit', { 'id': jobowner.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jobowner_new') }}">Create a new jobowner</a>
        </li>
    </ul>
{% endblock %}
