{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jobowner</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jobowner.id }}</td>
            </tr>

             <tr>
                <th>Activitysector</th>
                <td>{{ jobowner.activitySector }}</td>
            </tr>
            <tr>
                <th>Socialraison</th>
                <td>{{ jobowner.socialRaison }}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{ jobowner.user.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jobowner_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('jobowner_edit', { 'id': jobowner.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
