<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Ingenuity a Corporate Category Bootstrap Responsive website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ingenuity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{{ asset('bundles/app/front/web/css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="all">
<link href="{{ asset('bundles/app/front/web/css/style.css') }}" type="text/css" rel="stylesheet" media="all">
<link href="{{ asset('bundles/app/front/web/css/font-awesome.css') }}" rel="stylesheet"> <!-- font-awesome icons -->
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/star-rating.min.css')}}">
<link rel="stylesheet" href="{{ asset('bundles/app/front/web/css/jquery.desoslide.css') }}">
<!-- //Custom Theme files --> 
<!-- js -->
<script src="{{ asset('bundles/app/front/web/js/jquery-2.2.3.min.js') }}"></script>
<!-- //js -->
<!-- web-fonts
<link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
 //web-fonts -->
</head>
<body> 
	<!-- banner -->
	<div class="banner">
		<div class="banner-agileinfo">
			<!-- header -->
			<div class="header">
				<div class="container">
					<div class="header-w3lsrow">  
						<div class="logo">
							<h1><a href="index.html">Esprit</a></h1>
						</div>  
						<div class="header-right">
							{% if is_granted('ROLE_FREE') or is_granted('ROLE_JOOW') or is_granted('ROLE_ADMIN') %}
								<ul>
									<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
								</ul>
							{% else %}
								<ul>
									<li><a href="#myModal1" data-toggle="modal">Login</a></li>
									<li><a href="#myModal2" data-toggle="modal">Register</a></li>
								</ul>

							{% endif %}
							<div class="clearfix"> </div>  
						</div>
                        {% if is_granted('ROLE_JOOW') or is_granted('ROLE_ADMIN') %}
						<div class="menu">
							<div class="toggle"></div>
							<ul class="w3nav">
								<li><a href="{{ path('jobowner_home') }}" class="active"> Home</a></li>
								<li><a href="about.html"> About</a></li>
								<li><a href="{{ path('projects_new') }}"> New Project</a></li>
								<li><a href="{{ path('projects_index') }}"> My Projects</a></li>
								<li><a href="contact.html"> Contact Us</a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>  
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			{% elseif is_granted('ROLE_FREE') %}
			<div class="menu">
				<div class="toggle"></div>
				<ul class="w3nav">
					<li><a href="{{ path('freelancer_home') }}" class="active"> Home</a></li>
					<li><a href="about.html"> About</a></li>
					<li><a href="{{ path('freelancer_edit') }}" > Edit Profil</a></li>
					<li><a href="about.html"> About</a></li>

					<li><a href="contact.html"> Contact Us</a></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
	{% else %}
		<div class="menu">
			<div class="toggle"></div>
			<ul class="w3nav">
				<li><a  class="active"> Home</a></li>
				<li><a href="about.html"> About</a></li>

			</ul>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
		</div>
		</div>
		</div>
            {% endif %}

			<!-- //header --> 
			<!-- banner-text --> 
			<div class="banner-w3lstext">
				<div class="container">
					<h6>Inventive Solutions</h6>
					<h2>FREELANCER</h2>
				</div>  
			</div>  
			<!-- //banner-text --> 
			<!-- banner-address -->
			<div class="bnrwthree-address"> 
				<ul>
					<li><h5><i class="fa fa-map-marker" aria-hidden="true"></i> Address :</h5><p>Broome St, Canada, NY 10002, New York</p></li>
					<li><h5><i class="fa fa-phone" aria-hidden="true"></i> Free Call :</h5><p>+01 111 222 3333</p></li>
					<li><h5><i class="fa fa-envelope" aria-hidden="true"></i> E-mail :</h5><p><a href="mailto:info@example.com"> mail@example.com</a></p></li>
				</ul>
			</div>
			<!-- //banner-address --> 
		</div>
	</div>
    {% if is_granted('ROLE_FREE') or is_granted('ROLE_JOOW') or is_granted('ROLE_ADMIN') %}

	{% else %}<!-- //banner -->
	<!-- login modal -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>  
				</div>
				<div class="modal-body modal-body-sub"> 
					<h3>Login Form !</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6" style="text-align:center">
								<h3>Espace Freelancer</h3>
								<img src="{{ asset('bundles/app/front/web/images/free.jpg') }}" width="150px" height="150px"/>
								<a class="btn btn-warning"  href="{{ path('freelancer_home') }}"><i class="fa fa-lock"></i>  Se connecter</a>
							</div>
							<div class="col-md-6 " style="text-align:center">
								<h3>Espace Jobowner</h3>
								<img src="{{ asset('bundles/app/front/web/images/client.png')}} "  width="150px" height="150px"/>
								<a class="btn btn-warning" href="{{ path('jobowner_home') }}"><i class="fa fa-lock"></i>  Se connecter</a>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div> 
	<!-- //login modal -->	
	<!-- register modal -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button> 
				</div>
				<div class="modal-body modal-body-sub"> 
					<div class="modal_body_left modal_body_left1"> 
						<h3>Register Now !</h3>
						<div class="row">
							<div class="col-md-12">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#free">Freelancer</a></li>
									<li><a data-toggle="tab" href="#job">JobOwner</a></li>
								</ul>

								<div class="tab-content col-md-12">
									<div id="free" class="tab-pane fade in active">
										<h3>Free</h3>
                                        {{ form_start(form_free) }}
										<div class="col-md-12">
											<div class="form-group col-md-3">
                                                {{ form_label(form_free.firstname) }}
                                                {{ form_errors(form_free.firstname) }}
                                                {{ form_widget(form_free.firstname, {'attr': {'class': 'form-control'}}) }}
											</div>
											<div class="form-group col-md-3">
                                                {{ form_label(form_free.lastname) }}
                                                {{ form_errors(form_free.lastname) }}
                                                {{ form_widget(form_free.lastname, {'attr': {'class': 'form-control'}}) }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group col-md-3">
                                                {{ form_label(form_free.email) }}
                                                {{ form_errors(form_free.email) }}
                                                {{ form_widget(form_free.email, {'attr': {'class': 'form-control'}}) }}
											</div>
											<div class="form-group col-md-3">
                                                {{ form_label(form_free.disponible) }}
                                                {{ form_errors(form_free.disponible) }}
                                                {{ form_widget(form_free.disponible, {'attr': {'class': 'form-control'}}) }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group col-md-6">
                                                {{ form_label(form_free.skills) }}
                                                {{ form_errors(form_free.skills) }}
                                                {{ form_widget(form_free.skills, {'attr': {'class': 'form-control'}}) }}
											</div>

										</div>
										<div class="col-md-12">
											<div class="form-group col-md-6">
                                                {{ form_label(form_free.address) }}
                                                {{ form_errors(form_free.address) }}
                                                {{ form_widget(form_free.address, {'attr': {'class': 'form-control'}}) }}
											</div>

										</div>
										<div class="col-md-12">
											<div class="form-group col-md-3">
                                                {{ form_label(form_free.mobile) }}
                                                {{ form_errors(form_free.mobile) }}
                                                {{ form_widget(form_free.mobile, {'attr': {'class': 'form-control'}}) }}
											</div>
											<div class="form-group col-md-3">
                                                {{ form_label(form_free.username) }}
                                                {{ form_errors(form_free.username) }}
                                                {{ form_widget(form_free.username, {'attr': {'class': 'form-control'}}) }}
											</div>

										</div>
										<div class="col-md-12">
											<div class="form-group col-md-3">
                                                {{ form_label(form_free.plainPassword.first) }}
                                                {{ form_errors(form_free.plainPassword.first) }}
                                                {{ form_widget(form_free.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
											</div>
											<div class="form-group col-md-3">
                                                {{ form_label(form_free.plainPassword.second) }}
                                                {{ form_errors(form_free.plainPassword.second) }}
                                                {{ form_widget(form_free.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group col-md-3">
												<button type="submit" class="btn btn-success"> Get Started </button>
											</div>

										</div>
                                        {{ form_end(form_free) }}
									</div>
									<div id="job" class="tab-pane fade">
										<h3>Jobowner</h3>
                                        {{ form_start(form_jb) }}
										<div class="col-md-12">
											<div class="form-group col-md-3">
                                                {{ form_label(form_jb.firstname) }}
                                                {{ form_errors(form_jb.firstname) }}
                                                {{ form_widget(form_jb.firstname, {'attr': {'class': 'form-control'}}) }}
											</div>
											<div class="form-group col-md-3">
                                                {{ form_label(form_jb.lastname) }}
                                                {{ form_errors(form_jb.lastname) }}
                                                {{ form_widget(form_jb.lastname, {'attr': {'class': 'form-control'}}) }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group col-md-3">
                                                {{ form_label(form_jb.email) }}
                                                {{ form_errors(form_jb.email) }}
                                                {{ form_widget(form_jb.email, {'attr': {'class': 'form-control'}}) }}
											</div>
											<div class="form-group col-md-3">
                                                {{ form_label(form_jb.mobile) }}
                                                {{ form_errors(form_jb.mobile) }}
                                                {{ form_widget(form_jb.mobile, {'attr': {'class': 'form-control'}}) }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group col-md-3">
                                                {{ form_label(form_jb.activitySector) }}
                                                {{ form_errors(form_jb.activitySector) }}
                                                {{ form_widget(form_jb.activitySector, {'attr': {'class': 'form-control'}}) }}
											</div>
											<div class="form-group col-md-3">
                                                {{ form_label(form_jb.socialRaison) }}
                                                {{ form_errors(form_jb.socialRaison) }}
                                                {{ form_widget(form_jb.socialRaison, {'attr': {'class': 'form-control'}}) }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group col-md-6">
                                                {{ form_label(form_jb.address) }}
                                                {{ form_errors(form_jb.address) }}
                                                {{ form_widget(form_jb.address, {'attr': {'class': 'form-control'}}) }}
											</div>

										</div>
										<div class="col-md-12">
											<div class="form-group col-md-3">
                                                {{ form_label(form_jb.username) }}
                                                {{ form_errors(form_jb.username) }}
                                                {{ form_widget(form_jb.username, {'attr': {'class': 'form-control'}}) }}
											</div>

										</div>
										<div class="col-md-12">
											<div class="form-group col-md-3">
                                                {{ form_label(form_jb.plainPassword.first) }}
                                                {{ form_errors(form_jb.plainPassword.first) }}
                                                {{ form_widget(form_jb.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
											</div>
											<div class="form-group col-md-3">
                                                {{ form_label(form_jb.plainPassword.second) }}
                                                {{ form_errors(form_jb.plainPassword.second) }}
                                                {{ form_widget(form_jb.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group col-md-3">
												<button type="submit" class="btn btn-success"> Get Started </button>
											</div>

										</div>

                                        {{ form_end(form_jb) }}
									</div>

								</div>
							</div>
						</div>
					</div>  
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<!-- //register modal -->	 
	<!-- welcome -->

	<div class="welcome">
		<div class="container">
			{% block body %}
            {% block box1 %}
			<div class="col-md-7 welcome-w3lleft">

				<h3 class="agileits-title">Welcome !</h3>
				<h4>Cras porttitor imperdiet volutpat nulla malesuada lectus eros ut convallis felis consectetur ut </h4>
				<p>Nulla ultricies nunc et lorem semper, quis accumsan dui aliquam aucibus sagittis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi non nibh nec enim sollicitudin interdum.tristique senectus et netus et malesuada fames ac turpis egestas
				</p>

			</div>
			<div class="col-md-5 welcome-w3lright">
				<div class="welcome-grids">
					<div class="service-box">
						<div class="agileits-wicon">
							<i class="fa fa-clone" aria-hidden="true"></i>
						</div>
						<h5>Proin eget ipsum ultrices</h5>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="welcome-grids">
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<h5>Proin eget ipsum ultrices</h5>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i class="fa fa-tv" aria-hidden="true"></i>
						</div>
						<h5>Proin eget ipsum ultrices</h5>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
            {% endblock box1 %}
            {% endblock body %}
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //welcome -->
	<!-- features -->
	<div class="features">
		<div class="container">

			<div class="features-agileinfo">
				<div class="col-md-4 col-sm-4 features-wthree-grids"> 
					<h4>Best Designs</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus 
						reiciendis maiores alias consequatur aut. Aenean nec purus ac orci finibus facilisis. </p> 
					<h5 class="w3ls-featext">1</h5>
				</div>
				<div class="col-md-4 col-sm-4 features-wthree-grids"> 
					<h4>Online Advisors</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus 
						reiciendis maiores alias consequatur aut. Aenean nec purus ac orci finibus facilisis. </p>
					<h5 class="w3ls-featext">2</h5>
				</div>
				<div class="col-md-4 col-sm-4 features-wthree-grids"> 
					<h4>New Technologies</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus 
						reiciendis maiores alias consequatur aut. Aenean nec purus ac orci finibus facilisis. </p> 
					<h5 class="w3ls-featext">3</h5>
				</div> 
				<div class="clerfix"> </div>
			</div>

		</div>
	</div>
	<!-- //features -->
	<!-- team -->
	<div class="welcome">
	<div class="container">
    {% block demandef %}
    {% endblock demandef %}
	</div>
	</div>
	<div class="team">
		<div class="container">
            {% block box2 %}

            {% endblock %}
		</div>
	</div>
	<!-- //team --> 
	<!-- newsletter -->  
	<!-- //newsletter -->
	<!-- footer -->
	<div class="footer w3-w3layouts">
		<div class="container"> 
			<div class="footer-agileinfo">
				<div class="col-md-6 footer-wthreegrid">
					<h3 class="agileits-title">About Me</h3>
					<div class="col-xs-4 footer-wthreegridimg"> 
						<img src="{{ asset('bundles/app/front/web/images/banner.jpg') }}" class="img-responsive" alt=""/>
					</div>
					<div class="col-xs-8 footerabt-w3text"> 
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi non nibh nec enim sollicitudin interdum. </p>
						<div class="social-w3lsicon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
							<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 footer-wthreegrid">
					<h3 class="agileits-title">Recent Posts</h3>
					<ul>
						<li><a href="single.html"><i class="fa fa-angle-right"></i>Vestibulum felis</a></li>
						<li><a href="single.html"><i class="fa fa-angle-right"></i>Mauris at tellus</a></li>
						<li><a href="single.html"><i class="fa fa-angle-right"></i>Donec ut lectus</a></li>
						<li><a href="single.html"><i class="fa fa-angle-right"></i>Vitae interdum</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-wthreegrid footer-tags">
					<h3 class="agileits-title">Tag Cloud</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="codes.html">Codes</a></li>
						<li><a href="icons.html">Web Icons</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</div> 
				<div class="clearfix"> </div>
			</div> 
		</div>
	</div>
	<div class="copy-right"> 
		<div class="container">
			<p>© 2017 Ingenuity. All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
		</div> 
	</div> 
	<!-- //footer --> 
	<!-- menu js -->
	<script>
		$('.toggle').on('click', function() {
			$('.menu').toggleClass('open');  
			$('.w3nav').toggleClass('show-w3nav');  
			$('.w3nav a').toggleClass('show-w3nav-link');  
			$('.toggle').toggleClass('close');  
		});
	</script>
	<!-- //menu js --> 
	<!-- start-smooth-scrolling -->

	<script src="{{ asset('bundles/app/front/web/js/SmoothScroll.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/front/web/js/move-top.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/front/web/js/easing.js') }}"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->  
	<!-- desoslide-JavaScript --> 
	<script src="{{ asset('bundles/app/front/web/js/jquery.desoslide.js') }}"></script>
	<script>
		$('#demo1_thumbs').desoSlide({
			main: {
				container: '#demo1_main_image',
				cssClass: 'img-responsive'
			},
			 effect: 'sideFade',
			caption: true
		});
	</script> 
	<!-- //desoslide-JavaScript --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/app/front/web/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modules/star-rating.min.js') }}"></script>
</body>
</html>