{% extends 'indexFront.html.twig' %}

{% block body %}
    <div class="w3ls-title">
        <h3 class="agileits-title">Project Details</h3>
    </div>

    <table class="table table-condensed">
        <tbody>

            <tr>
                <th>Projectname</th>
                <td>{{ project.projectName }}</td>
            </tr>
            <tr>
                <th>Activityarea</th>
                <td>{{ project.activityarea }}</td>
            </tr>
            <tr>
                <th>Projectdescription</th>
                <td>{{ project.projectdescription }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if project.startdate %}{{ project.startdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if project.enddate %}{{ project.enddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Payment</th>
                <td>{{ project.payment }}</td>
            </tr>
            <tr>
                <th>Experiencelevel</th>
                <td>{{ project.experiencelevel }}</td>
            </tr>
            <tr>
                <th>Requiredskills</th>
                <td>{{ project.requiredskills }}</td>
            </tr>
        </tbody>
    </table>

    <ul>


        {% if is_granted('ROLE_FREE') or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('get_test',{ 'id': project.id }) }}" class="btn btn-default" >Get a TEST</a>

            <a href="{{ path('demands_add',{ 'id': project.id }) }}" class="btn btn-default" {% if test == true %}{{ 'disabled'}}{% endif %} > Candidate sending</a>
{% endif %}

        {% if is_granted('ROLE_JOOW') or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('jobowner_home') }}" class="btn btn-default"><i class="fa fa-list" style=""></i> Back to the list</a>
            <a href="{{ path('projects_edit', { 'id': project.id }) }}" class="btn btn-default"><i class="fa fa-pencil" style=""></i>  Edit</a>
            <a href="{{ path('demandByProject_index',{'id': project.id }) }}" class="btn btn-default"> <i class="fa fa-check-square-o"></i>  Succeded candidates in test</a>
            <a href="{{ path('examen_project_new',{'id': project.id }) }}" class="btn btn-default"> <i class="fa fa-plus"></i> Add a new test </a>


            <div class="col-md-1">
            {{ form_start(delete_form) }}
                <button type="submit" value="Delete" class="btn btn-default"><i class="fa fa-trash">  Delete</i></button>
            {{ form_end(delete_form) }}
    </div>
        {% endif %}
    </ul>
{% endblock %}
