{% extends 'base.html.twig' %}

{% block body %}

    <div class="w3ls-title">
        <h3 class="agileits-title">Freelancers list</h3>
    </div>
    <table>
        <thead>
            <tr>
                <th>Skills</th>
                <th>Disponible</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for freelancer in freelancers %}
            <tr>
                <td><a href="{{ path('freelancer_show', { 'id': freelancer.id }) }}">{{ freelancer.skills }}</a></td>
                <td>{{ freelancer.disponible }}</td>
                <td>{{ freelancer.firstname }}</td>
                <td>{{ freelancer.lastname }}</td>
                <td>{{ freelancer.address }}</td>
                <td>{{ freelancer.mobile }}</td>
                <td>{{ freelancer.user.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('freelancer_show', { 'id': freelancer.id }) }}">show</a>
                        </li>
                        {% if is_granted('ROLE_FREE') %}
                        <li>
                            <a href="{{ path('freelancer_edit', { 'id': freelancer.id }) }}">edit</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}





        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('freelancer_new') }}">Create a new freelancer</a>
        </li>
    </ul>
{% endblock %}
