{% extends 'indexFront.html.twig' %}
{% block body %}
    <div class="w3ls-title">
        <h3 class="agileits-title">FreeLancer</h3>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Skills</th>
                <td>{{ freelancer.skills }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ freelancer.disponible }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ freelancer.firstname }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ freelancer.lastname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ freelancer.address }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ freelancer.mobile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ freelancer.user.email }}</td>
            </tr>

        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
              <td>
                <a class="btn btn-default" target="_blank" href="{{ asset('uploads/cvs/' ~ freelancer.cv) }}"><i class="fa fa-file" style=""></i> View Cv (PDF)</a>
            </td>

            <a href="{{ path('jobowner_home') }}" class="btn btn-default"><i class="fa fa-reorder" style=""></i>  Back to the list</a>


            <a href="{{ path('demands_new', { 'id': freelancer.id }) }}" class="btn btn-default"><i class="fa fa-envelope"></i>  Sent a job offer</a>

        </div>
        <div class="col-md-6">
            {{ form_start(freelancer_evaluation_form) }}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('freelancer_evaluation_form') }}">
             <div class="form-group col-md-8">
                    <label for="input-7-xs" class="control-label">Mark </label>
                    <input  name="rating" class="rating rating-loading" value="{{ (mark != 0) ? mark : 0 }}" data-min="0" data-max="5" data-step="0.5" data-size="xs"><hr/>
                    <input type="hidden" name="freelancer_id" value="{{ freelancer.id }}">
                </div>
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> send  mark </button>
                </div>
            {{ form_end(freelancer_evaluation_form) }} 
        </div>
    </div>
</div>

<ul>
 <td>

 </td>






</ul>
{% endblock %}
