{% extends 'indexFront.html.twig' %}

{% block body %}
    <div class="w3ls-title">
        <h3 class="agileits-title">FreeLancer</h3>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Skills</th>
                <td>{{ freelancer.skills }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ freelancer.disponible }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ freelancer.firstname }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ freelancer.lastname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ freelancer.address }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ freelancer.mobile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ freelancer.user.email }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <td><a class="btn btn-default" target="_blank" href="{{ asset('uploads/cvs/' ~ freelancer.cv) }}"><i class="fa fa-file" style=""></i> View Cv (PDF)</a></td>

        <a href="{{ path('jobowner_home') }}" class="btn btn-default"><i class="fa fa-reorder" style=""></i>  Back to the list</a>


          <a href="{{ path('demands_new', { 'id': freelancer.id }) }}" class="btn btn-default"><i class="fa fa-envelope"></i>  Sent a job offer</a>




    </ul>
{% endblock %}
