{% extends 'admin/base.html.twig' %}

{% block body %}
    {{ include('admin/partials/header.html.twig') }}
    {{ include('admin/partials/aside.html.twig') }}

    <section class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
            </h1>
            <ol class="breadcrumb">
                <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active"><a href="">Dashboard</a></li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div id="projects_jobowner"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="notes_jobowner"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="projects_freelancers"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="skills_jobwner"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </section>
                <!-- /.Left col -->
            </div>
            <!-- /.row (main row) -->
        </section>
        <!--  main Content -->
    </section>
    {{ include('admin/partials/footer.html.twig') }}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(chartProjectsJobowner, 'projects_jobowner') }}
        {{ gc_draw(chartJobOwnerByReputition, 'notes_jobowner') }}
        {{ gc_draw(chartFreelancersByAcceptedProject, 'projects_freelancers') }}
        {{ gc_draw(chartFreelancersByReputation, 'skills_jobwner') }}
    </script>
{% endblock %}
