{% extends 'indexFront.html.twig' %}

{% block body %}

    <div class="w3ls-title">
        <h3 class="agileits-title">Demand creation</h3>
    </div>
    {{ form_start(form) }}
<div class="col-md-12">
    <div class="form-group col-md-3">
        {{ form_label(form.demandstatus) }}
        {{ form_errors(form.demandstatus) }}
        {{ form_widget(form.demandstatus, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-3">
        {{ form_label(form.demandDate) }}
        {{ form_errors(form.demandDate) }}
        {{ form_widget(form.demandDate, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="col-md-12">
    <div class="form-group col-md-9">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="col-md-12">
    <div class="form-group col-md-3">
        <input type="submit" value="Create" class="btn btn-default" />
    {{ form_end(form) }}

            <a href="{{ path('projects_index') }}" class="btn btn-default">
                <i class="fa fa-list">  Back to the list</i>
            </a>
    </div>
</div>

    {% endblock %}
